<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" routerLink="/">L*NG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" *ngIf="!loggedIn" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!loggedIn" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="loggedIn" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="loggedIn" href="#" (click)="logout($event)">Logout</a>
        </li>
      </ul>
    </div>
  </nav>